/* #region base */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  flex-shrink: 0;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.acent {
  color: #fd9222;
}

/* #endregion base */

/* #region Header */
.header {
  padding-top: 20px;
  padding-bottom: 14px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.logo-span {
  font-style: italic;
}

.nav {
  display: none;
}

.menu {
  display: flex;
  gap: 24px;
}

.menu-item {
}

.menu-link {
  padding-top: 28px;
  padding-bottom: 28px;
  display: block;
  color: #111;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}

.menu-open-btn {
  background-color: transparent;
  border: none;
}

.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #1e1823;
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu.is-open {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}
.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 88px;
}
.mob-nav {
}

.mob-menu-list {
  margin-bottom: 50px;
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-menu-link {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fff;
}
.mob-soc-list {
  display: flex;
  gap: 18px;
}
.mob-soc-item {
}
.mod-soc-link {
  font-weight: bold;
  color: #ffffff;
}

/* #endregion Header */

/* #region Hero */
.hero {
}

.hero-container {
  background-color: #1e1823;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url(../images/main-bg-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 395px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url(../images/main-bg-mob-2x.png);
  }
}

.hero-title {
  max-width: 484px;
  font-weight: 500;
  /* font-size: 28px; */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
}

.container-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  margin-right: 14px;

  border-radius: 100px;
  border: none;
  /* padding: 14px 40px; */
  padding: 12px 14px;
  transition: color 300ms linear, background-color 300ms linear;
}

.hero-btn:hover,
.hero-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-made-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  /* padding: 14px 40px; */
  padding: 12px 14px;
  /* min-width: 183px;
  height: 45px; */
  display: block;
  transition: color 300ms linear, border-color 300ms linear;
}

.hero-made-link:hover,
.hero-made-link:focus {
  color: #fd9222;
  border-color: #fd9222;
}

.down-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;
  /* margin-left: auto; */
  margin-top: 32px;
}

.down-link:hover,
.down-link:focus {
  color: #fd9222;
}

/* #endregion Hero */

/* #region Benefits */
.benefits {
  margin-top: 70px;
  background-color: #1e1823;
  color: #fff;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 88px; */
  gap: 20px;
  /* justify-content: center; */
  /* padding-left: 18px;
  padding-right: 18px; */
}

.benefits-list-item {
  /* width: calc((100% - 2 * 88px) / 3); */
  position: relative;
  padding-right: 28px;
}

/* .benefits-list-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.5);
  right: -18px;
} */

.benefits-item-border {
  display: none;
}

.benefits-item-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefits-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*  #endregion Benefits  */

/* #region Ingredients */
.ingredients {
  /* padding-top: 100px;
  padding-bottom: 100px; */
  padding-top: 60px;
  padding-bottom: 60px;
}

.ingredients-title {
  font-weight: 600;
  /* font-size: 24px;
  line-height: 1.16667; */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 411px;
  /* margin: 0 auto 28px; */
  margin: 0 auto 24px;
  text-align: center;
  color: #111;
}

.ingredients-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  max-width: 486px;
  /* margin: 0 auto 50px; */
  margin: 0 auto 32px;
  text-align: center;
  color: #111;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 19px; */
  gap: 20px;
}

.ingredients-list-item {
  border: 1px solid #fd9222;
  /* width: calc((100% - 19px * 3) / 4); */
  width: 100%;
  border-radius: 15px;
  padding: 28px 32px;
}

.ingredients-list-item:hover .ingredients-cover-text {
  transform: translate(0);
}

.ingredients-item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.ingredients-image {
  /* margin-bottom: 36px; */
  margin: 0 auto 25px;
}

.ingredients-cover-wrap {
  position: relative;
  overflow: hidden;
}

.ingredients-cover-text {
  position: absolute;
  top: 0;
  background-color: #fd9222;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
  height: 100%;
  left: 0;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

/* #endregion Ingredients */

.made {
  /* padding-bottom: 100px; */
  padding-bottom: 60px;
}

.made-title {
  font-weight: 600;
  /* font-size: 24px;
  line-height: 1.17; */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  /* margin: 0 auto 50px; */
  margin: 0 auto 32px;
  text-align: center;
  color: #111;
}

.made-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.made-content {
  /* padding: 32px; */
  padding: 20px 14px;

  background-color: #ffffff;
}

.made-subtitle {
  font-weight: 600;
  /* font-size: 18px; */
  font-size: 16px;
  line-height: 1.33;
  color: #111;
  /* margin-bottom: 28px; */
  margin-bottom: 20px;
}

.made-list {
}
.made-item {
  /* margin-bottom: 24px; */
  margin-bottom: 18px;
}

.made-item:last-child {
  margin-bottom: 0;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
}

/* #region Reviews */

.reviews {
  padding-bottom: 100px;
}

.reviews-title {
  font-weight: 600;
  font-size: 24px;

  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 90px;
  color: #111111;
}

.reviews-list {
  display: flex;
  gap: 24px;
  margin-bottom: 50px;
}

.reviews-list-item {
  width: calc((100% - 54px) / 3);
  background-color: #ffffff;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 56px 24px 24px 24px;
  position: relative;
}

.reviews-list-img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}

.reviews-item-title {
  font-weight: 600;
  font-size: 18px;

  line-height: 1.33;

  color: #111;
  margin-bottom: 24px;
  text-align: center;
}

.reviews-item-text {
  font-size: 14px;
  text-align: center;

  line-height: 1.28;
  letter-spacing: -0.02em;

  color: rgba(17, 17, 17, 0.7);
}

.btn-review {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  background-color: transparent;
  border: 1px solid #fd9222;
  display: block;
  margin: 0 auto;
}

.btn-review:hover,
.btn-review:focus {
  background-color: #fd9222;
  color: #fff;
  border-color: transparent;
}

/* #endregion Reviews */

/* #region Footer */
.footer {
  background-color: #1e1823;
}

.footer-text {
  font-weight: 500;
  font-size: 28px;

  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-address {
  font-style: normal;
}

.footer-address-text {
  font-weight: 500;
  font-size: 14px;

  line-height: 1.28;
  color: #fff;
}

.address-list {
}

.address-list-item {
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;

  color: #fff;
}

.footer-nav {
}

.footer-nav-list {
}

.footer-nav-item {
}

.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #fff;
}

/* #endregion Footer */

/* #region backdrop-modal */
.backdrop {
  position: fixed;
  top: 0;
  z-index: 9999999;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 300ms linear, opacity 300ms linear,
    pointer-events 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  width: 517px;
  min-height: 794px;
  background-color: #fafafa;
  padding: 40px;
}

.backdrop.is-open {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  stroke: #111111;
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
  line-height: 0;
  padding: 0;
  transition: stroke 300ms linear;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  stroke: #fd9222;
}

.modal-text {
  font-weight: 600;
  font-size: 24px;

  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  width: 298px;
  margin-bottom: 42px;
}

.orange {
  color: #fd9222;
}

.form-wrraper-cont {
  margin-bottom: 18px;
}

.modal-form-label {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: block;
  margin-bottom: 8px;
}

.modal-cont-input {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 68px;
  border: 1px solid rgba(17, 17, 17, 0.08);
  border-radius: 13px;
  padding-left: 68px;
  outline: none;
  transition: border 300ms linear;
}

.modal-input:focus {
  border-color: #fd9222;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  stroke: #111111;
  fill: none;
  transition: stroke 300ms linear;
}

.modal-input:focus + .modal-icon {
  stroke: #fd9222;
}

.form-wrraper-cont-coment {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-form-label-coment {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: block;
  margin-bottom: 8px;
}

.form-wrraper-cont-coment {
  margin-bottom: 18px;
}

.modal-textarea {
  border: 1px solid black;
  border-radius: 13px;
  padding: 22px 24px 24px 24px;
  width: 436px;
  height: 137px;
  resize: none;
  outline: none;
  display: block;
}

.modal-textarea:focus {
  border-color: #fd9222;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-cont-checkbox {
  margin-bottom: 40px;
}

.custom-checkbox {
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.custom-label-user-checkbox {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

.privacy-policy {
  text-decoration: underline;

  color: #fd9222;
}

.checkbox:checked + .custom-label-user-checkbox > .custom-checkbox {
  border-color: transparent;
  background-color: #fd9222;
}

.modal-submit {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 117px;
  height: 45px;
  border: none;
}

/* #endregion backdrop-modal */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .container.hero-container {
    padding: 670px 72px 72px 40px;
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url(../images/main-bg-tab.png);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .container.hero-container {
      background-image: linear-gradient(
          rgba(30, 24, 35, 0.4),
          rgba(30, 24, 35, 0.4)
        ),
        url(../images/main-bg-tab-2x.png);
    }
  }

  .hero-title {
    font-size: 28px;
  }

  .hero-btn {
    min-width: 144px;
    height: 45px;
    padding: 14px 40px;
  }

  .hero-made-link {
    padding: 14px 40px;
    min-width: 183px;
    height: 45px;
  }

  .down-link {
    margin-top: 0;
    margin-left: auto;
  }

  .benefits {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .benefits-list {
    gap: 32px;
  }

  .benefits-list-item {
    width: calc((100% - 32px) / 2);
  }

  /* -------------- */

  .ingredients {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .ingredients-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 28px;
  }

  .ingredients-text {
    margin-bottom: 50px;
  }

  .ingredients-list {
    gap: 32px;
  }

  .ingredients-list-item {
    width: calc((100% - 32px) / 2);
  }

  .made {
    margin-bottom: 80px;
  }

  .made-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  .made-content {
    padding: 32px;
  }

  .made-subtitle {
    font-size: 18px;
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 1168px) {
  .container {
    max-width: 1168px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .container.hero-container {
    padding-top: 370px;
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url(../images/main-bg.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .container.hero-container {
      background-image: linear-gradient(
          rgba(30, 24, 35, 0.4),
          rgba(30, 24, 35, 0.4)
        ),
        url(../images/main-bg-2x.jpg);
    }
  }

  .benefits-list {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 88px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .benefits-list-item {
    width: calc((100% - 2 * 88px) / 3);
    padding-right: 0;
  }

  .benefits-list-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 124px;
    background-color: rgba(255, 255, 255, 0.5);
    right: -18px;
  }

  .benefits-item-border {
    display: flex;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 22px;
    align-items: center;
    justify-content: center;
  }

  .benefits-item-icon {
    fill: #fd9222;
  }

  .ingredients {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .ingredients-list {
    gap: 19px;
  }

  .ingredients-list-item {
    width: calc((100% - 19px * 3) / 4);
  }

  .made-wrapper {
    flex-wrap: nowrap;
  }

  .made-item {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1167px) {
  .made > .container {
    max-width: 678px;
  }
}
